<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Tittle</title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
    <div>
        <h6 class="bg-primary text-white text-center m-2 p-2">@(ViewBag.Tittle ?? "Layout")</h6>
        @RenderBody()
    </div>
</body>
</html>
